DEBUG=True
SECRET_KEY=UPDATE_YOUR_SECRET_KEY
ALLOWED_HOSTS=127.0.0.1, .localhost
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
SENDGRID_USERNAME=
SENDGRID_PASSWORD=